# check which files are ignored: git status --ignored

.venv/
.vscode/
.pre-commit-config.yaml
howto/
TODO.txt
export/
baths/
delete/

ppo_cartpole_tensorboard/

# created by pytest
__pycache__
.pytest_cache/

# pylint
.pylintrc

# mypy
.mypy_cache/

# created by setuptools (python setup.py sdist bdist_wheel)
dist/
build/
*.egg-info/

# created by build (python -m build)
dist/
*.egg-info/

# created by Jupyter Notebooks
__pycache__
.ipynb_checkpoints

